Le but de ce programme est de vérifier que les datas de notre df 'final_df_UE.csv' correspondent bien aux data de climat watch 'historical_emissions.csv'

In [1]:
import pandas as pd

df = pd.read_csv('final_df_UE.csv')
df.drop('Unnamed: 0', axis = 1, inplace = True)

df2 = pd.read_csv('historical_emissions.csv')

In [2]:
print('Notre DataFrame')
display(df.head())

print('ClimatWathData')
display(df2.head())

Notre DataFrame

   Country       Sector      Gas    Unit  year  cons
0  Austria  Agriculture  All GHG  MtCO₂e  2019  7.21
1  Austria  Agriculture      CH4  MtCO₂e  2019  4.64
2  Austria  Agriculture      N2O  MtCO₂e  2019  2.57
3  Austria     Building  All GHG  MtCO₂e  2019  8.41
4  Austria     Building      CO2  MtCO₂e  2019  7.73

ClimatWathData

,Country,Data source,Sector,Gas,Unit,2019,2018,2017,2016,2015,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
0,Austria,CAIT,Agriculture,All GHG,MtCO₂e,7.21,7.26,7.43,7.49,7.47,...,8.33,8.39,8.57,8.70,8.67,9.07,9.17,9.52,9.76,9.81
1,Austria,CAIT,Agriculture,CH4,MtCO₂e,4.64,4.71,4.83,4.83,4.84,...,5.49,5.51,5.65,5.74,5.75,6.09,6.19,6.43,6.56,6.57
2,Austria,CAIT,Agriculture,N2O,MtCO₂e,2.57,2.55,2.60,2.66,2.64,...,2.84,2.88,2.92,2.96,2.91,2.98,2.98,3.09,3.20,3.24
3,Belgium,CAIT,Agriculture,All GHG,MtCO₂e,9.36,9.40,9.32,9.59,9.76,...,11.60,11.17,11.27,11.50,11.48,11.32,11.35,11.41,11.62,11.55
4,Belgium,CAIT,Agriculture,CH4,MtCO₂e,6.04,6.09,6.03,6.25,6.29,...,7.80,7.46,7.55,7.71,7.75,7.63,7.66,7.71,7.84,7.78

In [3]:
def verificateur (df, df2, pays, annee, gaz):
    
#Cette fonction compare les émissions de tous les secteurs, pour un gaz donné, un pays donné et une année donnée et renvoie 
#un booléen pour chaque secteur, True si les valeurs sont les mêmes et False si elles sont différentes
    
#Dans df l'année est de type 'int' alors que dans df2, l'année est le nom des colonnes donc ce n'est pas un 'int' mais 'str', 
#je change le type de la colonne année de df pour quelle devienne un string comme df2
#c'est plus simple de changer le type d'une colonne en particulier que le type de l'indice d'une colonne

#c'est pour ça que dans la fonction on doit indiquer l'année avec des guillements parce que c'est un str et non un int

    df['year'] = df['year'].values.astype('str') 
    
    
    dfC = pd.DataFrame(index = df[(df['Country'] == pays) & (df['Gas'] == gaz) & (df['year'] == annee)]['Sector'].values,
                   data =  df[(df['Country'] == pays) & (df['Gas'] == gaz) & (df['year'] == annee)]['cons'].values)
    
    dfB = pd.DataFrame(index = df2[(df2['Country'] == pays) & (df2['Gas'] == gaz)]['Sector'],
                   data =  df2[(df2['Country'] == pays) & (df2['Gas'] == gaz)][annee].values)
    
    
    return dfC.values == dfB.values

In [4]:
#on vérifie avec une boucle sur les pays, les gaz et les années

y=0
for country in df.Country.unique():
        for gaz in df.Gas.unique():    
            for year in range (1990, 2020, 1):
                year = str(year)
                v = verificateur(df, df2, country, year, gaz)
                x=list(v).count(False)
                y += x
        
print('le nombre de valeurs différentes est de ', y)

le nombre de valeurs différentes est de  85

Je fais une boucle pour sortir les pays, années et gaz concernés par les valeurs différentes

In [5]:
for country in df.Country.unique():
    
    for gaz in df.Gas.unique():
            
        for year in range (1990, 2020, 1):
        
            year = str(year)
            v = verificateur(df, df2, country, year, gaz)
            
            if False in v:
                
                print(f'{country}',f'{year}',f'{gaz}')

Czech Republic 1990 CO2
Czech Republic 1991 CO2
Germany 1990 CO2
Germany 2013 CO2
Germany 2014 CO2
Germany 2015 CO2
Germany 2016 CO2
Germany 2017 CO2
Germany 2018 CO2
Germany 2019 CO2
Estonia 1990 CO2
Estonia 1991 CO2
France 1990 CO2
France 1991 CO2
France 1992 CO2
France 1993 CO2
France 1994 CO2
France 1995 CO2
France 1996 CO2
France 1997 CO2
France 1998 CO2
France 1999 CO2
France 2000 CO2
France 2001 CO2
France 2002 CO2
France 2003 CO2
France 2004 CO2
France 2005 CO2
France 2006 CO2
France 2007 CO2
France 2008 CO2
France 2009 CO2
France 2010 CO2
France 2011 CO2
France 2012 CO2
Croatia 1990 CO2
Croatia 1991 CO2
Italy 1990 CO2
Italy 1991 CO2
Italy 1992 CO2
Italy 1993 CO2
Italy 1994 CO2
Italy 1995 CO2
Italy 1996 CO2
Italy 1997 CO2
Italy 1998 CO2
Italy 1999 CO2
Italy 2000 CO2
Italy 2001 CO2
Italy 2002 CO2
Italy 2003 CO2
Italy 2004 CO2
Italy 2005 CO2
Italy 2006 CO2
Italy 2007 CO2
Italy 2008 CO2
Italy 2009 CO2
Italy 2010 CO2
Italy 2011 CO2
Italy 2012 CO2
Lithuania 1990 CO2
Lithuania 1991 CO2
Latvia 1990 CO2
Latvia 1991 CO2
Netherlands 2008 CO2
Netherlands 2009 CO2
Netherlands 2010 CO2
Poland 1990 CO2
Poland 1991 CO2
Poland 1992 CO2
Poland 1993 CO2
Poland 1994 CO2
Poland 1995 CO2
Poland 1996 CO2
Poland 1997 CO2
Poland 1998 CO2
Poland 1999 CO2
Romania 1990 CO2
Romania 1991 CO2
Romania 1992 CO2
Romania 1993 CO2
Slovakia 1990 CO2
Slovakia 1991 CO2
Slovenia 1990 CO2
Slovenia 1991 CO2

 Toutes les valeurs différentes proviennent de la variable Gas = CO2

In [6]:
#Je fais une fonction verificateur2 qui montre les émissions par secteur de chaque DataFrame pour un pays et une année


def verificateur2 (df, df2, pays, annee, gaz):
    

    df['year'] = df['year'].values.astype('str') 
    
    
    dfC = pd.DataFrame(index = df[(df['Country'] == pays) & (df['Gas'] == gaz) & (df['year'] == annee)]['Sector'].values,
                   data =  df[(df['Country'] == pays) & (df['Gas'] == gaz) & (df['year'] == annee)]['cons'].values)
    
    dfB = pd.DataFrame(index = df2[(df2['Country'] == pays) & (df2['Gas'] == gaz)]['Sector'],
                   data =  df2[(df2['Country'] == pays) & (df2['Gas'] == gaz)][annee].values)
    
    
    return dfC, dfB

In [7]:
#A l'aide de la fonction verificateur j'affiche le détail des secteurs qui sont concernés par la valeur différente

display(verificateur (df, df2, 'Czech Republic', '1990', 'CO2'))

#A l'aide de la fonction verificateur2 j'affiche les valeurs correspondentes 

display(verificateur2 (df, df2, 'Czech Republic', '1990', 'CO2'))

array([[ True],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True]])

(                                   0
 Building                       23.23
 Bunker Fuels                    0.66
 Electricity/Heat               67.63
 Energy                        150.20
 Industrial Processes             NaN
 Land-Use Change and Forestry   -9.44
 Manufacturing/Construction     46.68
 Other Fuel Combustion           5.72
 Total excluding LUCF          150.20
 Total including LUCF          140.76
 Transportation                  6.95,
                                    0
 Sector
 Building                       23.23
 Bunker Fuels                    0.66
 Electricity/Heat               67.63
 Energy                        150.20
 Industrial Processes             NaN
 Land-Use Change and Forestry   -9.44
 Manufacturing/Construction     46.68
 Other Fuel Combustion           5.72
 Total excluding LUCF          150.20
 Total including LUCF          140.76
 Transportation                  6.95)

Avec verificateur on voit que la 5ème variable est différente entre les 2 fichiers

Avec verificateur 2 on voit que la 5ème colonne Industrial Processes contient des NaN

In [8]:
#on compte les NaN présents dans nos 2 df à l'aide d'une fonction verificateur3 

def verificateur3 (df, df2, pays, annee, gaz):
    

    df['year'] = df['year'].values.astype('str') 
    
    
    dfC = pd.DataFrame(index = df[(df['Country'] == pays) & (df['Gas'] == gaz) & (df['year'] == annee)]['Sector'].values,
                   data =  df[(df['Country'] == pays) & (df['Gas'] == gaz) & (df['year'] == annee)]['cons'].values)
    
    Na_C = dfC.isna().sum()
    
    dfB = pd.DataFrame(index = df2[(df2['Country'] == pays) & (df2['Gas'] == gaz)]['Sector'],
                   data =  df2[(df2['Country'] == pays) & (df2['Gas'] == gaz)][annee].values)
    Na_B = dfB.isna().sum()
    
    return Na_C + Na_B

In [10]:
#On lance verif3 sur tous les pays, années et gaz
y=0
for country in df.Country.unique():
        for gaz in df.Gas.unique():    
            for year in range (1990, 2020, 1):
                year = str(year)
                v = verificateur3(df, df2, country, year, gaz)
                y += v   #y nous donne les valeurs manquantes des DEUX df or les 85 valeurs différentes correspondent à la comparaison des 2 df
y = y/2  #on doit donc diviser y par 2 pour avoir le nombres de valeurs différentes
        
print('le nombre de valeurs NaN est de ', y)

le nombre de valeurs NaN est de  0    85.0
dtype: float64

Nous avons autant de valeurs différentes que de NaN, on peut donc en conclure que si on compare deux NaN de 2 df différents, la fonction les considères comme valeurs différentes.

Il suffit de supprimer/remplacer les NaN

In [13]:
df=df.fillna(0)
df2=df2.fillna(0)

In [14]:
#on vérifie avec une boucle sur les pays, les gaz et les années

y=0
for country in df.Country.unique():
        for gaz in df.Gas.unique():    
            for year in range (1990, 2020, 1):
                year = str(year)
                v = verificateur(df, df2, country, year, gaz)
                x=list(v).count(False)
                y += x
        
print('le nombre de valeurs différentes est de ', y)

le nombre de valeurs différentes est de  0

Les 2 df sont identiques